<div class="mx-auto w-full max-w-md">
  <h1 class="font-hairline mb-6 text-center">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false}, class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md" }) do |f| %>
    <%= devise_simple_error_messages! %>
    <div class="mb-4">
      <%= f.label :email, class: "block font-bold mb-2 text-gray-700 text-sm" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-full" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, class: "block font-bold mb-2 text-gray-700 text-sm" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input w-full" %>
    </div>
    <div class="mb-4">
      <%= f.submit "Log in", class: "button" %>
      <%= link_to "Sign up", new_registration_path(resource_name), class: "ml-4 inline-block align-baseline text-sm text-blue-500 hover:text-blue-800" %>
    </div>
  <% end %>
  <%= render "devise/shared/form_footer" %>
</div>
